<h1>Machines Chassis for invoice <%= "MSINV#"+@msale.id.to_s + @msale.created_at.year.to_s + @msale.created_at.month.to_s + @msale.created_at.day.to_s %></h1>  

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Machine1</th> 
      <th>Chassis</th>
    </tr>
  </thead>

  <tbody>
    <% @datas.each do |data| %>  
        <% machine = Machine.find(data["msaleable_id"]) %>
        <% chassis = Chassis.where(msale_id: data["msale_id"], msale_detail_id: data["id"]) 
          chassis.each do |chass|
        %>
        <tr>
          <td><%= machine.model %></td>
          <td><%= chass.chassisnum %></td>        
        </tr>      
        <% end %>
    <% end %>  
  </tbody>
</table>
