<nav class="nav nav-sidebar">
  <ul class="nav bs-docs-sidenav">
    <li class="active">
    	<a href="#">
    		<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Cart <span class="badge">42</span>
    	</a>
    </li>
    <li>
    	<a href="#"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Debts <span class="badge">12</span></a>
    </li>
    <li>
    	<a href="#"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Postpone sales <span class="badge">30</span></a>
    </li>
    <li>
    	<a href="#"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Warranted mach<span class="badge">120</span></a>
    </li>
    <li>
    	<a href="#"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> Out of stock <span class="badge">9</span></a>
    </li>

  </ul>
</nav>